body {
    font-family: 'Poppins', sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    display: flex;
}

a {
    text-decoration: none;
}

header {
    background: #f6f6f6;
    padding: 22px 0;
}
.header_container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header_container a{
    color: #000;
    font-size: 16px;
    padding: 27px 6px;
    margin-right: 63px;
    text-transform: uppercase;
}

.header_container a:hover {
     background: #ffea00;
}

#menu-checkbox {
    display: none;
}

ul {
    display: flex;
}

nav {
    margin-top: 20px;
}

.top-slide {
    background: url(../img/header_bg.png) no-repeat;
    background-size: 100%;
    padding-top: 120px;
    padding-bottom: 280px;
}

.top-container {
    width: 85%;
    margin: 0 auto;
}

.top-slide h2 {
    background: #ffea00;
    display: inline;
    font-size: 70px;
    text-transform: uppercase;
    padding: 0 13px;

}

.top-slide :nth-child(2) {
    margin-bottom: 10px;
}

.top-slide p {
    background: #414146;
    display: inline;
    font-size: 24px;
    color: #fff;
    padding: 0 4px;

}

.specialize-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 100px;
}
.special-heading h3 {
    font-size: 36px;
    text-transform: uppercase;
    margin-top: 80px;
}
.special-heading p {
    font-size: 24px;
    margin-bottom: 40px;
}
.first-p {
    font-size: 24px;
    color: #fff;
}

.sec-p {
    font-size: 15px;
    color: #fff;
    padding-top: 16px;
}


.bottom-card {
    background: #414146;
    width: 250px;
    height: 80px;
}

.specialize-cards {
    display: flex;
    justify-content: space-between;
}


.topcard2 {
    width: 250px;
    height: 208px;
    background: #ffea00;
    text-align: center;
    font-size: 20px;
}

.img2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 175px;
}

.portfolio, .brand-slider {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.portfolio h4, .brand-slider h4 {
    background: #414146;
    padding: 0 8px;
    display: inline-block;
    color: #ffea00;
    text-transform: uppercase;
    font-size: 18px;
    margin: 30px auto;
}

.portfolio p, .brand-slider p {
    color: #424146;
    font-size: 16px;
    margin-bottom: 30px;
}

.toggles button {
    border: none;
    color: #424146;
    cursor: pointer;
    font-size: 16px;
    margin: 20px 5px;
    background: #fff;
}

.toggles button:after {
    content: ' / ';
}

.toggles button:last-child:after {
    content: '';
}



.posts {
    width: 90%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 0 auto;
    padding-bottom: 100px;
}

.posts img {
    width: 312px;
    height: 236px;
}

footer {
    background: #414146;
    padding: 30px;
    color:#fff;
}

footer h4 {
    font-size: 18px;
    margin-bottom: 20px;
}
.footer-container{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 3%;
}

.latest {
    display: grid;
    grid-template-columns: 15% 80%;
    align-items: center;
    padding-top: 10px;
}

.when {
    font-size: 9px;
    color: #ffea00;
    padding-top: 10px; 
}

.about-us a{
    background: #000;
    border-bottom: 2px solid #ffea00;
    color: #fff;
    font-size: 15px;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 40px;
    display: inline-block;
}

.about-us p {
    padding-top: 20px;
}

.images {
    margin-top: 10px;
}

.images img {
    float: left;
    padding: 5px;
}

.tweets span {
    color: #ffea00;
}

.social {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 20px;
}


.social a {
    margin: 0;
}

.allcontacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
}
.address p, 
.phone p, 
.email p {
    width: 500px;
    height: 30px;
    padding-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.phone {
    display: flex;
}

.p2 {
    padding-left: 10px;
}

.email a{
    color:#ffea00;
}


.address:before {
    content:"";
    background-image: url(../img/address.png);
    width: 28px;
    height: 28px;
    float: left;
    margin: 10px 20px 10px 0;
}

.phone:before {
    content:"";
    background-image: url(../img/adress.png);
    width: 28px;
    height: 28px;
    float: left;
    margin: 10px 20px 10px 0;
}

.email:before {
    content:"";
    background-image: url(../img/email.png);
    width: 28px;
    height: 28px;
    float: left;
    margin: 10px 20px 10px 0;
}

.follow {
    margin-top: 60px;
}

.follow h4 {
    margin-bottom: 20px;
}

.follow input.underline {
    background: #414146;
    border: none;
    border-bottom: solid 2px #ffea00;
    height: 30px;
    color: #fff;
    font-size: 16px;

}

input:focus, textarea:focus, select:focus {
    outline: none;
}

form {
    display: flex;
}

@media screen and (max-width: 420px) and (-webkit-min-device-pixel-ratio:0) {
    .header_container {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .main-menu {
        display: none;
    }

    .main-menu li {
        width: 100%;
        display: block;
        font-size: 12px;
    }

    .main-menu a {
        display: block;
        padding: 8px;
    }

    .toggle-button {
        text-align: center;
        display: block;
        cursor: pointer;
        color: #000;
        margin-top: 20px;
    }

    .toggle-button:after {
        content: attr(data-open);
        display: block;
    }

    #menu-checkbox:checked + nav[role="navigation"] .main-menu {
        display: block;
    }

    #menu-checkbox:checked + nav[role="navigation"] .toggle-button:after {
        content: attr(data-close);
    }

    .header-container {
        margin-right: -65px;
    }

    .main-menu {
        position: relative;
        top: 8px;
        right: -50px;
    }


    .top-slide {
        width: 200%;
        padding-top: 6%;
        padding-bottom: 6%;
    }

    .top-slide h2 {
        font-size: 30px;
    }

    .top-slide p {
        font-size: 16px;
    }

    .special-heading p {
        font-size: 13px;
    }

    .special-heading h3 {
        font-size: 26px;
    }
    
    .specialize-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .card {
        margin: 10px auto;
    }

    .posts {
        width: 90%;
        display: grid;
        grid-template-columns: auto;
        margin: 0 auto;
    }
    .toggles button {
        font-size: 8px;
    }
}